.wrapper{
    position: relative;
    height: 100vh;
}

.black-background-wrapper{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
}

.background-spinners{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: relative;

    height: 100%;
    aspect-ratio: 1/1;
    top: 30%;
    left: 50%;

    filter: blur(40px);

    animation-name: background-movement;
    animation-duration: 400s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.background-spinner{
    height: 100%;
    aspect-ratio: 1/1;
    grid-row: 1;
    grid-column: 1;
    position: absolute;
}

.foreground{
    position: relative;
    background-color: rgba(255,255,255,0.005);
}

@keyframes background-movement{
    0% {
        transform: rotate(0deg) translate(0%, 0%);
    }
    25% {
        transform: rotate(60deg) translate(-20%, -5%);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(10deg);
    }
  }
