.wrapper{
    position: relative;
    height: 100vh;
}

.black-background-wrapper{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
}

.background-component{
    position: fixed;
    height: 130%;
    width: 130%;
    top: -10%;
    left: -10%;

    filter: blur(50px);

    background-image: url(../../assets/images/bubble-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;

    animation-name: background-movement;
    animation-duration: 400s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.foreground{
    position: relative;
    background-color: rgba(255,255,255,0.005);
}

@keyframes background-movement{
    0% {
        background-position: 45% 79%;
        background-size: 700%;
    }
  
    25% {
        background-position: 40% 82%;
        background-size: 680%;
        transform: rotate(90deg);
    }
  
  
    50% {
        background-position: 35% 81%;
        background-size: 690%;
        transform: rotate(120deg);
    }
  
    75% {
        background-position: 38% 75%;
        background-size: 680%;
        transform: rotate(210deg);
    }
  
    100% {
        background-position: 40% 80%;
        background-size: 690%;
        transform: rotate(360deg);
    }
  }