.edit-user-services-search-and-button-bar{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: var(--space-4);
}

.edit-user-services-search-bar{
    width: 60%;
}