.button{
    display: grid;
    justify-content: center;
    padding: var(--space-4);
    border-radius: 10px;

    border: none;
    background: none;

    &:hover{
        cursor: pointer;
    }
}

.confirm{
    background-color: var(--color-secondary-accent);
    color: var(--color-secondary-accent-complement);

    &:hover{
        box-shadow: 1px 1px 3px #48ffe0, -1px -1px 3px #06ffac, -1px 1px 3px #48ffe0, 1px -1px 3px #06ffac;
    }
}

.secondary-confirm{
    background-color: var(--color-secondary-accent);
    color: var(--color-secondary-accent-complement);
    background-color: white;
}

.secondary-confirm-hover{
    //Secondary Confirm Button is mainly used as an inactive button in the transaction status, thats why hover is not always needed and can be applied
    &:hover{
        box-shadow: 1px 1px 3px #ffffff, -1px -1px 3px #ffffff, -1px 1px 3px #ffffff, 1px -1px 3px #ffffff;
    }
}

.cancel{
    color: red;
    background-color: white;

    &:hover{
        box-shadow: 1px 1px 3px #ff0000, -1px -1px 3px #ff0000, -1px 1px 3px #ff0000, 1px -1px 3px #ff0000;
    }
}

.inactive{
    color: white;
    background-color: darkgray;
    border: 1px solid black;
}

.order-pending{
    background-color: #d19900;
    color: white;
}

.order-denied{
    background-color: #940000;
    color: white;
}