.button{
    width: 80%;
    display: grid;
    justify-content: center;
    padding: 2%;
    border-radius: 5px;

    &:hover{
        cursor: pointer;
    }
}

.confirm{
    background-color: var(--color-primary-accent);
    color: white;
}

.secondary-confirm{
    color: var(--color-primary-accent);
    background-color: white;
    border: 1px solid var(--color-primary-accent);
}

.cancel{
    color: red;
    background-color: white;
    border: 1px solid red;
}

.inactive{
    color: white;
    background-color: darkgray;
    border: 1px solid black;
}

.order-pending{
    background-color: rgba(223, 200, 0, 0.664);
    color: white;
}

.order-denied{
    background-color: rgba(255, 0, 0, 0.664);
    color: white;
}