.service-page-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-5);
}

.flex{
    display: flex;
    align-items: center;
    gap: var(--space-4)
}