.location-definition-div{
    align-items: end;
    align-self: center;
    display: flex;
    width: 90%;
    gap: var(--space-5);

    @media screen and (max-width: 425px) {
        flex-direction: column;
        width: 100%;
    }
}

.travelling-for-orders-div{
    display: flex;
    gap: var(--space-4)
}

.checkbox{
    padding: var(--space-3);
}