.provider-card-main-container{
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr min-content;
    gap: var(--space-5);
    align-items: center;
    justify-items: left;
}

.provider-card-main-container-grid{
    display: grid;
    grid-template-columns: 2fr 1fr min-content;
}

.provider-card-main-container-flex{
    display: flex;
}

.provider-card-left-data-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-3);
}

.provider-card-center-data-container{
    justify-self: right;
}

.provider-card-right-data-container{
    justify-self: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-3);
}

.provider-card-rating-container{
    display: flex;
    flex-direction: column;
    text-align: right;
}
