.ssc{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    padding: var(--space-3);

    gap: var(--space-4);

    @media screen and (max-width: 768px) {
        padding: var(--space-4);
        gap: var(--space-2);
        display: grid;
        grid-template-columns: 1fr min-content;
    }
}

.ssc-embers-container{
    @media screen and (max-width: 768px) {
        grid-row: 2;
    }
}

.ssc-button-container{
    @media screen and (max-width: 768px) {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: right;
    }
}

.ssc-selected{
    border: 1px solid var(--color-primary-accent);
    grid-template-columns: 1fr 2fr min-content;
}

.ssc-unselected{
    border: none;
}

.ssc-service-name{
    flex-grow: 1;
}

.ssc-right-container{
    display: flex;
    align-items: center;
    gap: var(--space-3);

    @media screen and (max-width: 768px) {
        font-size: var(--font-small);
    }
}

.ssc-unselected-hover{
    box-shadow: 1px 1px 3px #b62f5c, -1px -1px 3px #af0135;

    &:hover{
        cursor: pointer;
        animation: ssc-unselected-on-hover-animation 2s infinite;
    }
}


@keyframes ssc-unselected-on-hover-animation{
    0%{
        box-shadow: 0;
        transform: scale(1);
    }
    50%{
        box-shadow: 2px 2px 5px #48ffe0, -2px -2px 5px #06ffac, 2px -2px 5px #06ffac, -2px 2px 5px #06ffac;
        transform: scale(1.002);
    }
    100%{
        box-shadow: 0;
        transform: scale(1);
    }
}