.services-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-search-and-add-service-container{
    display: flex;
    justify-content: center;
    gap: var(--space-4);
    align-items: center;
}

.services-search-bar{
    width: 40%;
}