.on-hover-edit-container{
    position: relative;
}

.on-hover-edit-children-div{
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    position: absolute;

    width: min-content;
    height: min-content;
    padding: 0;

    &:hover + .on-hover-edit-image{
        display: block;
    }

    @media screen and (max-width: 1024px) {
        //display: block;
    }
}

.on-hover-edit-image{
    background-color: var(--color-secondary-accent);
    border-radius: 50%;
    border: 2px solid var(--color-primary-accent);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 50%;
    width: 50%;

    &:hover{
        display: block;
    }

    @media screen and (max-width: 1024px) {
        display: block;
    }
}