.profile-heading-and-edit-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4)
}

.user-profile-heading-container{
    display: flex;
    align-items: center;
    gap: var(--space-4);

    @media screen and (max-width:425px) {
        gap: var(--space-3)
    }
}

.name-and-username-container{
    line-height: 1;
    display: grid;
    text-size-adjust: none;
    width: 100%;
}