.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 2fr;


    align-items: center;
    text-align: center;
    gap: var(--space-4);
    border: 2px solid var(--color-quinary-accent);
    background-color: var(--color-tertiary-accent);
    padding: 10px;
    box-shadow: 1px 2px 3px #727171;

    &:hover{
        cursor: pointer;
    }
}

.card .button{
    flex-basis: 30%;
}