.round-button{
    z-index: 5;
    height: var(--round-button);
    width: var(--round-button);
    padding: var(--space-1);
    flex-shrink: 0;
    border-radius: 50%;
    background: none;
    border: 1px solid var(--color-primary-accent);
    fill: var(--color-primary-accent);
}

.round-button-edit{
    background-image: url('../../../assets/vectors/edit.svg');
}

.round-button-confirm{
    background-image: url('../../../assets/vectors/confirm.svg');
}