.round-button{
    border-radius: 50%;
}

.round-button-edit{
    background-image: url('../../../assets/vectors/edit.svg');
}

.round-button-confirm{
    background-image: url('../../../assets/vectors/confirm.svg');
}