.alert{
    justify-self: center;
    display: grid;
    justify-content: center;
    align-content: center;

    border-radius: 10px;
    width: 40vw;
    padding: 5%;

    animation-name: opacity-shift;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.error-message{
    border: 1px solid var(--color-error-text-and-border);
    color: var(--color-error-text-and-border);
    background-color: var(--color-error-background);
}

.success-message{
    border: 1px solid var(--color-secondary-accent);
    color: black;
    background-color: var(--color-secondary-accent);
}

@keyframes opacity-shift {
    0% {opacity: 0;}
    10% {opacity: 100;}
    90% {opacity: 100;}
    100% {opacity: 0;}
  }
