.max-size-container{
    width: var(--nav-width);
    margin-left: auto;
    margin-right: auto;
    background-color: #00000025;
}

.content-container{
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    display: grid;
}