.banner-container{
    width: 100%;
    display: grid;
    justify-content: center;
    height: 15vh;
    align-content: center;
}

.navbar-container{
    width: 100%;
    display: flex;
    padding: 15px;
    font-size: var(--font-normal);
    justify-content: space-evenly;
    border-bottom: 2px solid var(--color-secondary-accent);

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar-container-mobile{
    position: fixed;
    display: flex;
    right: 0;
}

.navbar-mobile{
    display: grid;
    text-align: center;
    background-color: #00000093;
    font-size: var(--font-very-large);
    padding: var(--space-4);
}

@keyframes banner-intro-animation{
    0%{
        color: white;
        text-shadow: 0px 0px 0px #ffffff;
    }
    100%{
        color: #48ffe0;
        text-shadow: 0px 0px 3px #48ffe0;
    }
}

@keyframes banner-flicker-animation{
    0%{
        color: #48ffe0;
        text-shadow: 0px 0px 3px #48ffe0;
    }
    50%{
        color: #7affe9;
        text-shadow: 0px 0px 4px #7affe9;
    }
    75%{
        color: #7affe9;
        text-shadow: 0px 0px 4px #7affe9;
    }
    100%{
        color: #48ffe0;
        text-shadow: 0px 0px 3px #48ffe0;
    }
}