.rating-container{
    width: 150px;
    display: flex;
    align-items: center;

    @media screen and (max-width:425px) {
        width: 120px;
    }
}

.stars-container{

    display: flex;
    align-items: center;
}

.clickable :hover{
    cursor: pointer;
}

.rating-number{
    margin-left: var(--space-3);
    font-size: var(--font-large);
}