.loading-component-bars-container{
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    flex-grow: 2;
}

.loading-component-bar{
    border-radius: 12px;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(45deg, var(--color-background-secondary) 45%, #ffffff 48%, #ffffff 52%, var(--color-background-secondary)55%);
    background-size: 300%;
    background-position: left;
    animation: background-shift infinite .7s;
}

@keyframes background-shift{
    0%{
        background-position: right;
    }

    100%{
        background-position: left;
    }
}


.loading-component-circle-container{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, var(--color-background-secondary) 35%, #ffffff 48%, #ffffff 52%, var(--color-background-secondary)65%);
    background-size: 400%;
    background-position: left;
    animation: background-shift infinite .5s;
}