.hamburger-button{
  display: grid;
  place-items: center;
  justify-content:center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--ham-color-final, white);
  border-radius: 4px;
  box-shadow: 1px 1px 2px var(--ham-color-final), -1px -1px 2px var(--ham-color-final), -1px 1px 2px var(--ham-color-final), 1px -1px 2px var(--ham-color-final);

  --ham-color-final: #48ffe0;
  --ham-color-1: #48ffe0;
  --ham-color-2: #af0135;
}
  
.ham-active{
  --ham-color-final: var(--ham-color-2)
}

.ham-inactive{
  --ham-color-final: var(--ham-color-1)
}

.hamburger{
  fill: var(--ham-color-final, white);
  filter: drop-shadow(0px 0px 7px var(--ham-color-final));
}

.hamburger-top-line{
  x:10;
  y:25;
  rx:3;
}
.hamburger-middle-line{
  x:10;
  y:45;
  rx:3;
}
.hamburger-bottom-line{
  x:10;
  y:65;
  rx:3;
}

.hamburger-rect{
  transition: .5s;
}