.credit-counter-container{
    background-color: #000000c5;
    border-radius: 50%;
    
    position: fixed;
    left: 27%;
    bottom: 5%;

    padding: var(--space-4);

    display: flex;

    aspect-ratio: 1/1;

    color: black;
}

.credit-counter-container.active{
    transform: scale(1.2);
}

.credit-counter-number{
    font-size: var(--font-large);
}

.credit-counter-number.active{
    color: red;
}

.ember-icon{
    height: 100px;
}