.heading-primary{
    font-size: var(--font-very-large);
}

.heading-secondary{
    font-size: var(--font-large);
}

.text{
    font-size: var(--font-normal);
}

.sub-text{
    font-size: var(--font-small);
    color: var(--color-font-secondary);
}

.bold{
    font-weight: bold;
}

.text-area{
    padding: var(--space-3);
    background-color: #cefff7;
    color: var(--color-secondary-accent-complement);
    border: none;

    &:hover{
        animation: select-text-area .2s;
        animation-fill-mode: forwards;
    }

    outline: none;
}

.card-list{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.image-icon{
    height: 50px;
    width: 50px;
}

.background-icon{
    //background image needs to be set in the element itself via inline-styles
    height: 50px;
    width: 50px;
}

.round-image-container-card{
    height: 50px;
    width: 50px;
}

.round-image-container-page{
    height: 100px;
    width: 100px;
}

.main-hover{
    box-shadow: 1px 1px 3px #48ffe0, -1px -1px 3px #06ffac;

    &:hover{
        cursor: pointer;
        animation: on-hover-animation .3s;
        animation-fill-mode: forwards;
    }
}

@keyframes on-hover-animation{
    0%{
        box-shadow: 0;
        transform: scale(1);
    }
    100%{
        box-shadow: 2px 2px 5px #48ffe0, -2px -2px 5px #06ffac, 2px -2px 5px #06ffac, -2px 2px 5px #06ffac;
        transform: scale(1.002);
    }
}

.text-area::placeholder{
    color: #141457c2;
}

@keyframes select-text-area{
    0% {
        border-radius: 0;
        transform: scale(1);
        box-shadow: 0;
    }

    100% {
        border-radius: 2px;
        transform: scale(1.001);
        box-shadow: 1px 1px 1px #48ffe0, -1px -1px 1px #06ffac, 1px -1px 1px #06ffac, -1px 1px 1px #06ffac;
    }
}



