.heading{
    font-size: var(--font-large);
}

.card-list{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    width: 100%;
    display: flex;
    gap: var(--space-4);
    border: 2px solid darkgreen;
    border-radius: 15px;
    padding: 10px;

    &:hover{
        cursor: pointer;
    }
}

.image-icon{
    height: 50px;
    width: 50px;
}

.background-icon{
    //background image needs to be set in the element itself via inline-styles
    height: 50px;
    width: 50px;
}

.button{
    width: 80%;
    display: grid;
    justify-content: center;
    padding: 2%;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
}

.confirm-button{
    background-color: darkgreen;
    color: white;
}

.secondary-confirm-button{
    color: darkgreen;
    border: 1px solid darkgreen;
}

.cancel-button{
    color: red;
    border: 1px solid red;
}

.inactive-button{
    color: white;
    background-color: darkgray;
    border: 1px solid black;
}

.error-message{
    position: absolute;
    bottom: 10%;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    background-color: rgba(255,230,230, 0.8);
    width: 40%;
    padding: 5%;
    animation-name: opacity-shift;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.success-message{
    position: absolute;
    bottom: 10%;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    background-color: rgba(230,255,230, 0.8);
    width: 40%;
    padding: 5%;
    animation-name: opacity-shift;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacity-shift {
    0% {opacity: 0;}
    10% {opacity: 100;}
    90% {opacity: 100;}
    100% {opacity: 0;}
  }
