@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-primary{
    font-size: var(--font-very-large);
}

.heading-secondary{
    font-size: var(--font-large);
}

.text{
    font-size: var(--font-normal);
}

.sub-text{
    font-size: var(--font-small);
    color: gray;
}

.bold{
    font-weight: bold;
}

.preformatted-message{
    color: white;
    white-space: pre-wrap;
}

.warning-text{
    font-weight: bold;
    color: var(--color-warning-and-error);
}

.disclaimer-text{
    font-size: var(--font-small);
    color: var(--color-warning-and-error);
}

.highlight-text{
    color: var(--color-primary-accent);
}

.nowrap{
    white-space: nowrap;
}

.overflow-control{
    // For possible large user determined value (e.g. username or description need to be cut short)
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-control-wrap{
    // For possible large user determined value (e.g. username or description need to be cut short), but everything still needs to be shown
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.text-area{
    padding: var(--space-3);
    background-color: var(--color-lifted-bg);
    color: var(--color-secondary-accent);
    border: none;
    width: 90%;
    align-self: center;

    box-shadow: 1px 1px 1px #48ffe0, -1px -1px 1px #06ffac, 1px -1px 1px #06ffac, -1px 1px 1px #06ffac;
    border-radius: var(--border-radius-2);

    &:hover{
        animation: select-text-area .2s;
        animation-fill-mode: forwards;
    }

    outline: none;

    ::placeholder{
        color: var(--color-primary-accent);
    }

    ::ms-input-placeholder{
        color: var(--color-primary-accent);
    }
}

.text-area-modal{
    width: 100%;
}

.image-icon{
    height: 50px;
    width: 50px;
}

.number-input{
  color: var(--color-secondary-accent);
  background-color: var(--color-lifted-bg);
  border-radius: var(--border-radius-2);
}

.background-icon{
    //background image needs to be set in the element itself via inline-styles
    height: 50px;
    width: 50px;
}

.round-image-container-card{
    height: var(--avatar-size-card);
    width: var(--avatar-size-card);
}

.round-image-container-page{
    height: var(--avatar-size-page);
    width: var(--avatar-size-page);
}

.main-hover{
    box-shadow: 1px 1px 3px #48ffe0, -1px -1px 3px #06ffac, -1px 1px 3px #48ffe0, 1px -1px 3px #06ffac;

    &:hover{
        cursor: pointer;
        animation: on-hover-animation .3s;
        animation-fill-mode: forwards;
    }
}

@keyframes on-hover-animation{
    0%{
        box-shadow: 0;
        transform: scale(1);
    }
    100%{
        box-shadow: 2px 2px 5px #48ffe0, -2px -2px 5px #06ffac, 2px -2px 5px #48ffe0, -2px 2px 5px #06ffac;
        transform: scale(1.002);
    }
}

.text-area::placeholder{
    color: #AAAAAAAA;
}

@keyframes select-text-area{
    0% {
        box-shadow: 1px 1px 1px #48ffe0, -1px -1px 1px #06ffac, 1px -1px 1px #06ffac, -1px 1px 1px #06ffac;
    }
    100% {
        box-shadow: 1px 1px 5px #48ffe0, -1px -1px 5px #06ffac, 1px -1px 5px #06ffac, -1px 1px 5px #06ffac;
    }
}



