* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
  width: initial;
  height: initial;
}

:root{
  --content-width: 960px;

  --font-small: 12px;
  --font-normal: 16px;
  --font-large: 24px;

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 16px;
  --space-5: 32px;

  --profile-avatar-size-card: 50px;
  --profile-avatar-size-page: 100px;

  --color-background-dark: #7c7c7c;
  --color-background-light: #ffffff;

  --color-font-primary: #000000;
  --color-font-secondary: #666565;
}
