* {
  margin: 0;
  box-sizing: border-box;
  color: var(--color-font-primary)
}

body {
  font-family: 'Titillium Web',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: titillium,
    monospace;
}

a{
  text-decoration: none;
  width: initial;
  height: initial;
}

h1{
  font-weight: normal;
  font-size: var(--font-very-large);
}

h2{
  font-weight: normal;
  font-size: var(--font-large);
}

span{
  font-size: var(--font-normal);
}

:root{
  --content-width: 960px;

  --font-small: 12px;
  --font-normal: 16px;
  --font-large: 24px;
  --font-very-large: 30px;

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 16px;
  --space-5: 32px;

  --profile-avatar-size-card: 50px;
  --profile-avatar-size-page: 100px;

  --color-primary-accent: #145438;
  --color-secondary-accent: #e2ece9;
  --color-tertiary-accent: #ffffff;
  --color-quarternary-accent: #897943;
  --color-quinary-accent: #aab4b1;

  --color-error-text-and-border: #810000;
  --color-error-background: #ffc6c6c7;

  --color-success-text-and-border: #0b5c00;
  --color-success-background: #a2ff955d;

  --color-font-primary: black;
  --color-font-secondary: #897943;
}
