* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, var(--color-background-primary), var(--color-background-secondary), var(--color-background-primary));
  color: var(--color-secondary-accent);
}

@font-face {
  font-family: 'STR';
  src: local('STR'), url(./fonts/STR.ttf) format('truetype');
}

code {
  font-family: titillium,
    monospace;
}

a{
  color: white;
  text-decoration: none;
  width: initial;
  height: initial;
}

h1{
  font-weight: normal;
  font-size: var(--font-very-large);
}

h2{
  font-weight: normal;
  font-size: var(--font-large);
}

span{
  font-size: var(--font-normal);
}

:root{
  --content-width: 960px;
  --nav-width: 1024px;

  --font-small: 12px;
  --font-normal: 16px;
  --font-large: 24px;
  --font-very-large: 30px;
  --font-banner: 50px;

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 16px;
  --space-5: 32px;

  --profile-avatar-size-card: 50px;
  --profile-avatar-size-page: 100px;

  --round-button: 50px;

  --color-background-primary: #040424;
  --color-background-secondary: #141457;

  --color-primary-accent: #48ffe0;

  --color-secondary-accent: #cdfff7;
  --color-secondary-accent-complement: #141457;

  --color-tertiary-accent: #897943;
  --color-quaternary-accent: #aab4b1;

  --color-error-text-and-border: #810000;
  --color-error-background: #ffc6c6c7;

  --color-success-text-and-border: #0b5c00;
  --color-success-background: #a2ff955d;

  --color-font-primary: black;
  --color-font-secondary: #897943;
}
