.rate-user-component{
    display: flex;
    width: 20%;

    @media screen and (max-width: 1600px) {
        width: 30%;
    }

    @media screen and (max-width: 500px) {
        width: 40%;
    }

    @media screen and (max-width: 425px) {
        width: 50%;
    }
}