.login-container{
    display: grid;
    width: 30%;
    justify-items: center;
    gap: 5%;
}

.input{
    padding: 4%;
}

.button{
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 2%;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
}

.login-button{
    background-color: darkgreen;
    color: white;
}

.sign-up-button{
    color: darkgreen;
    border: 1px solid darkgreen;
}

.forgot-password-prompt{
    color: darkgreen;
    font-size: var(--font-small);
}