.auth-pages-container{
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.auth-pages-centered{
    width: 15%;
    display: grid;
    justify-items: center;
    gap: var(--space-4);
}

.auth-input{
    width: 100%;
    padding: 4%;
}

.forgot-password-prompt{
    color: var(--color-quarternary-accent);
    font-size: var(--font-small);
}