.auth-pages-container{
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.auth-pages-centered{
    width: 15%;
    display: grid;
    justify-items: center;
    gap: var(--space-4);

    @media screen and (max-width: 1440px) {
        width: 20%;
    }

    @media screen and (max-width: 1024px) {
        width: 30%;
    }

    @media screen and (max-width: 768px) {
        width: 40%;
    }

    @media screen and (max-width: 425px) {
        width: 70%;
    }
}

.auth-input{
    width: 100%;
    padding: var(--space-3);
}

.forgot-password-prompt{
    color: var(--color-quarternary-accent);
    font-size: var(--font-small);
}